%header.entry-header
  %h1.entry-title
    %a{:href => "http://unixsuperhero.com/2013/04/10/media-that-changed-me-as-a-developer/", :rel => "bookmark"} Media that changed me as a&nbsp;developer…
  .comments-link
    %a{:href => "http://unixsuperhero.com/2013/04/10/media-that-changed-me-as-a-developer/#respond", :title => "Comment on Media that changed me as a&nbsp;developer…"}
      %span.leave-reply Leave a reply
  / .comments-link
/ .entry-header
.entry-content
  %p
    %strong tl;dr
  %p
    %span{:style => "font-size:1rem;line-height:1.714285714;"} This post is about 2 things:
  %ol
    %li
      %span{:style => "line-height:14px;"}
        %a{:href => "http://vimeo.com/61044810", :target => "_blank"}> Why Python, Ruby and Javascript are Slow
        \&nbsp;-&nbsp;
        %strong The title is misleading.
        \&nbsp;This talk changed the way I think about writing performance-conscious ruby.
        %br/
    %li The list of books that made me a better developer – I realized I hadn’t shared this list yet. &nbsp;It is long overdue. (C Programming Language, Refactoring, Mastering Regular Expressions)
  %p
    %strong Introduction
  %p
    For many years now, I have kept a running list of books that made me a better developer. &nbsp;I will list these in a second. &nbsp;Recently, I have watch&nbsp;
    %strong a lot
    of presentations
    %sup> 1
    \. &nbsp;I now plan to keep a running list of talks that have had a significant enough impact on me as a developer.
  %p
    %strong Books
  %ul
    %li
      %span{:style => "line-height:14px;"} The C Programming Language – Changed the way I think about a few things. &nbsp;Off the top of my head,&nbsp;curly&nbsp;braces. &nbsp;(I’ll explain in some later post)
    %li Mastering Regular Expressions – Everyone I know, comes to me to write their regex(s). &nbsp;This book is the main reason why.
    %li Refactoring – After getting part-way thru this book. &nbsp;I immediately knew it was on this list. &nbsp;It is probably the book that inspired me to start keeping this list in the first place. &nbsp;Much like the talk I list below.
    %li There are more, I’ll find my list later…
  %p
    %b Talks/Presentations
  %ul
    %li
      %a{:href => "http://vimeo.com/61044810", :target => "_blank"} Why Python, Ruby and Javascript are Slow
      – A series of easy to understand concepts that should impact the performance of [your favorite scripting language].
    %li I’m sure I have a few more. &nbsp;I’ll comb thru the 30+ I’ve watched in the last 3wks.
  %p
    %sup 1
    %a{:href => "http://confreaks.com", :rel => "nofollow"} http://confreaks.com
    and
    %a{:href => "https://vimeo.com/herokuwaza", :rel => "nofollow"} https://vimeo.com/herokuwaza
  #jp-post-flair.sharedaddy.sd-like-enabled.sd-sharing-enabled
/ .entry-content
%footer.entry-meta
  This entry was posted in
  %a{:href => "http://unixsuperhero.com/category/uncategorized/", :rel => "category tag", :title => "View all posts in Uncategorized"} Uncategorized
  on
  %a{:href => "http://unixsuperhero.com/2013/04/10/media-that-changed-me-as-a-developer/", :rel => "bookmark", :title => "12:03 am"}
    %time.entry-date{:datetime => "2013-04-10T00:03:55+00:00"} April 10, 2013
  = succeed "." do
    %span.by-author
      by
      %span.author.vcard
        %a.url.fn.n{:href => "http://unixsuperhero.com/author/unixsuperhero/", :rel => "author", :title => "View all posts by unixsuperhero"} unixsuperhero
  %span.edit-link
    %a.post-edit-link{:href => "http://unixsuperhero.wordpress.com/wp-admin/post.php?post=310&amp;action=edit", :title => "Edit Post"} Edit
/ .entry-meta
