:retab
:g/<!--\|-->/d
:norm ggA do
:%s#<\/[^>]*>#\r#gc

:%s#<\(\S*\)\s*\/\?>#\%\1 #gc
":%s#<\(\S*\)>\@=>#\%\1 #gc   "save as above

:%s#<\(\S*\) \@= \(.\{-}\)\/\?>#\%\1(\2) #gc


:%s#<\(\S*\)[ =]\@= \([^>]\{-}\)\/\?>#\%\1(\2) #gc

:Trim
:v/./d

":%s#<[^>]*\/>#\r#gc
