= content_for :title do
  About

%p Ruby on Rails, vim, bash, regex, many more. These are the things I use and practice on a daily basis.

%p
  I work for
  %a(title="Saveology, LLC." href="http://www.saveology.com/") Saveology, LLC.

%p
  Github Repo (for this blog):
  %a(href="http://github.com/unixsuperhero/unixsuperhero") unixsuperhero/unixsuperhero

%p Social Networking:

%ul
  %li
    %a(href="http://facebook.com/jearsh") Facebook: jearsh
  %li
    %a(href="http://twitter.com/unixsuperhero") Twitter: @unixsuperhero

-#
  %wp:post_id 2
  %wp:post_date 2012-10-04 16:46:16
  %wp:post_date_gmt 2012-10-04 16:46:16
  %wp:post_name about
  %wp:status publish
  %wp:post_type page
  %wp:post_password 
  %link http://unixsuperhero.com/about/
  %pubDate Thu, 04 Oct 2012 16:46:16 +0000
  %guid(isPermaLink="false") http://unixsuperhero.wordpress.com/?page_id=2
