= content_for :title do
  Chrome Tip: Login to a site with 2 accounts at the same time

Let's say you have 2 facebook accounts, or 2 gmail accounts.  This is how you login to both of them, at the same time.  Without logging out of the first one.


%ol

%li Login to the first account, as usual.



%li Then, open an Incognito Window.



%li Login to the second account.





Tada!  Now you are logged into 2 accounts at the same time.

Note: The max is 2 accounts.  All incognito windows share the same session.



%sub login to multiple accounts on a site at the same time




-#
  %wp:post_id 321

  %wp:post_date 2013-04-10 02:59:58

  %wp:post_date_gmt 2013-04-10 02:59:58

  %wp:post_name chrome-tip-login-to-a-site-with-2-accounts-at-the-same-time

  %wp:status publish

  %wp:post_type post

  %wp:post_password

  %TAGS
  chrome
  google chrome
  incognito
  incognito window
  login 2 accounts
  multiple accounts
  multiple logins
  multiple sessions
  two sessions
  Uncategorized


  %link http://unixsuperhero.com/2013/04/10/chrome-tip-login-to-a-site-with-2-accounts-at-the-same-time/

  %pubDate Wed, 10 Apr 2013 02:59:58 +0000

  <guid isPermaLink="false">http://unixsuperhero.com/?p=321


