<item>
  <title>Chrome Tip: Login to a site with 2 accounts at the same time</title>
  <link>http://unixsuperhero.com/2013/04/10/chrome-tip-login-to-a-site-with-2-accounts-at-the-same-time/</link>
  <pubDate>Wed, 10 Apr 2013 02:59:58 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=321</guid>
  <content:encoded><![CDATA[Let's say you have 2 facebook accounts, or 2 gmail accounts.  This is how you login to both of them, at the same time.  Without logging out of the first one.

<ol>
<li>Login to the first account, as usual.</li>
<li>Then, open an Incognito Window.</li>
<li>Login to the second account.</li></ol>

Tada!  Now you are logged into 2 accounts at the same time.

Note: The max is 2 accounts.  All incognito windows share the same session.


<sub>login to multiple accounts on a site at the same time</sub>

]]></content:encoded>
  <wp:post_id>321</wp:post_id>
  <wp:post_date>2013-04-10 02:59:58</wp:post_date>
  <wp:post_date_gmt>2013-04-10 02:59:58</wp:post_date_gmt>
  <wp:post_name>chrome-tip-login-to-a-site-with-2-accounts-at-the-same-time</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  chrome
  google chrome
  incognito
  incognito window
  login 2 accounts
  multiple accounts
  multiple logins
  multiple sessions
  two sessions
  Uncategorized
  </TAGS>
</item>
