= content_for :title do
  [DEPRECATION WARNING] Nested I18n namespace lookup under "activerecord.attributes.order" is no longer supported

%p Every time we load the rails environment:
%pre [DEPRECATION WARNING] Nested I18n namespace lookup under "activerecord.attributes.order" is no longer supported
%h3 We don't care
%p We don't.  It's one line, displayed when we start a console or some other rails task.  It doesn't slow anything down.  No harm done.
%h3 Fixed it
%p I randomly got annoyed and fixed it.  What is it?  In your i18n yml files, having models nested under each other is deprecated.
%p(style="padding-left:30px;")
  %em config/locales/en.yml
%pre
  :escaped
    en:
      activerecord:
        attributes:
          order:
            line_item:
              column_name: 'Column Name Translation'
%br
%br
See how the LineItem model (line_item:) is under the Order model (order:)?
%br
%br
Take it out:
%p(style="padding-left:30px;")
  %em config/locales/en.yml
  %b (updated)
%pre
  :escaped
    en:
      activerecord:
        attributes:
          order:
            order_column_name: 'Some Order Column Translation'
          line_item:
            column_name: 'Column Name Translation'
%h1 All better!
-#
  %wp:post_id 298
  %wp:post_date 2013-03-16 02:15:27
  %wp:post_date_gmt 2013-03-16 02:15:27
  %wp:post_name deprecation-warning-nested-i18n-namespace-lookup-under-activerecord-attributes-order-is-no-longer-supported
  %wp:status publish
  %wp:post_type post
  %wp:post_password
  %TAGS
  Uncategorized
  %link http://unixsuperhero.com/2013/03/16/deprecation-warning-nested-i18n-namespace-lookup-under-activerecord-attributes-order-is-no-longer-supported/
  %pubDate Sat, 16 Mar 2013 02:15:27 +0000
  %guid(isPermaLink="false") http://unixsuperhero.com/?p=298
