= content_for :title do
  Draft: HOWTO: Convert a WSDL/XSD(s) to a sample SOAP/XML Packet
%h1 NOTE: This is not complete, simply a brief snippet of an article I plan to write in the near future...
&nbsp;
%h2 Introduction
The software I use everyday, at both work and home, largely consists of Open Source Software (OSS).  Over the last 2 years, I have had to write libraries for several SOAP APIs.  Many of these APIs don't have great documentation, and at the very least they hopefully distribute a WSDL.  A WSDL is an XML document that describes, in detail, the structure of the XML request/response packets that a Web Service expects.
I have spent a large amount of time looking for OSS to pragmatically convert a WSDL to a sample XML packet, all without success.  I have found SoapUI.  But, before said discovery, I had been forced to reverse engineer how a WSDL defines these packets.
Which is why I am writing this.  Not only do I plan on explaining HOW to do this manually, I also plan on building an Open Source tool to do so.  I find it important to explain the process, because I haven't found any other article that does this, and someone should do it.
%h2 Super Rough Outline
A WSDL has 1 tag at the root &lt;definitions /&gt;.  Inside of 
%em definitions
, we have a few more tags:
%ul
  %li
    %span(style="line-height:14px;") &lt;types /&gt;
  %li &lt;message /&gt;
  %li &lt;portType /&gt;
  %li &lt;binding /&gt;
  %li &lt;service /&gt;
The way to read a WSDL, is almost from the bottom up:
%strong &lt;service /&gt;
describes the URL the send requests to.  It also describes which 
%strong &lt;binding /&gt;
to use.
%strong &lt;binding /&gt;
has several 
%strong &lt;operations /&gt;
Each operation is essentially what you will use as an API call.
Each 
%strong &lt;operations /&gt;
tag has an
%b &lt;operation /&gt;
which describes 3 things:
%ol
  %li
    %span(style="line-height:14px;")
      The 
      %strong SOAPAction
       HTTP Header to send with the request
  %li
    The 
    %strong &lt;input /&gt;
  %li
    The 
    %strong &lt;output /&gt;
    %strong &lt;input /&gt;
    and 
    %strong &lt;output /&gt;
    each describe a top-level view of their packets.  In other words, the 
    %strong &lt;header /&gt;
    tags, and the 
    %strong &lt;body /&gt;
    tag.
    %strong
    The 
%strong &lt;binding /&gt;
 has a type attribute.  This describes the portType.
The 
%strong &lt;portType /&gt;
describes which 
%strong &lt;message /&gt;
to use.
%strong
The 
%strong &lt;message /&gt;
describes the main 
%strong &lt;element /&gt;
Each 
%strong &lt;element /&gt;
may describe zero or more sub 
%strong &lt;element /&gt;
(s).
From this general flow, you start building the XML Packets.
-#
  %wp:post_id 304
  %wp:post_date 2013-03-21 04:21:26
  %wp:post_date_gmt 2013-03-21 04:21:26
  %wp:post_name draft-howto-convert-a-wsdlxsds-to-a-sample-soapxml-packet
  %wp:status publish
  %wp:post_type post
  %wp:post_password
  %TAGS
  Uncategorized
  %link http://unixsuperhero.com/2013/03/21/draft-howto-convert-a-wsdlxsds-to-a-sample-soapxml-packet/
  %pubDate Thu, 21 Mar 2013 04:21:26 +0000
  %guid(isPermaLink="false") http://unixsuperhero.com/?p=304
