= content_for :title
	fix gcc and segfault issues with newer versions of ruby on lion
I have had a lot of issues after I upgraded to OS X Lion.  Mostly because of a common XCode issue.  Then I got it to work temporarily with a specific package apple released that is just the cli tools for osx.  Then I had some luck with an llvm version of gcc.  Not one of these solutions was perfect.  I was reading the <a href="https://github.com/kennethreitz/osx-gcc-installer">osx-gcc-installer</a> README.  I saw that if you had Homebrew, you could install apple-gcc42:
<pre>
# pull in the repo with apple-gcc42 (homebrew/dupes aka github.com/Homebrew/homebrew-dupes)
brew tap homebrew/dupes
brew install apple-gcc42</pre>
This didn't work for me.  Because you can't compare a flow to a symbol (:lion).  So, I changed the symbol to "10.7", no quotes.  Tried brew install again.  It worked.  Then I just reinstalled my ruby, gems, and everything has been fine since.  Yes, this was rushed.  Here are the commands I ran, thanks to reading "rvm requirements".
<pre>rvm requirements
brew install libksba #not sure if this is necessary
vim /usr/local/Library/Formula/apple-gcc42.rb # :%s/:lion/10.7/c
brew install apple-gcc42
rvm install 1.9.3</pre>
-#
  <wp:post_id>47</wp:post_id>
  <wp:post_date>2012-10-10 16:03:38</wp:post_date>
  <wp:post_date_gmt>2012-10-10 16:03:38</wp:post_date_gmt>
  <wp:post_name>fix-gcc-and-segfault-issues-with-newer-versions-of-ruby-on-lion</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  1.9.3
  bugfix
  compile error
  gc
  gcc
  homebrew
  ruby
  Uncategorized
  </TAGS>
  <link>http://unixsuperhero.com/2012/10/10/fix-gcc-and-segfault-issues-with-newer-versions-of-ruby-on-lion/</link>
  <pubDate>Wed, 10 Oct 2012 16:03:38 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.wordpress.com/?p=47</guid>
