= content_for :title
	FizzBuzz Solutions
<h2>First Solution: Tap</h2>
<pre>def fizzbuzz_tap
  1.upto(100) { |x|
    puts x.tap{|z|
      x = '' if [x%3,x%5].include?(0)
      x += 'Fizz' if x%3 == 0
      x += 'Buzz' if x%5 == 0
    }
  }
end</pre>
<h2>Second Solution: Hash</h2>
<pre>
def fizzbuzz_hash
  puts 1.upto(100).map{|x| (z={Fizz: x % 3, Buzz: x % 5}.keep_if{|k,v| v == 0}.keys).any? &amp;&amp; z.join || x }
end
</pre>
-#
  <wp:post_id>103</wp:post_id>
  <wp:post_date>2012-11-21 05:43:27</wp:post_date>
  <wp:post_date_gmt>2012-11-21 05:43:27</wp:post_date_gmt>
  <wp:post_name>fizzbuzz-solutions</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  Uncategorized
  </TAGS>
  <link>http://unixsuperhero.com/2012/11/21/fizzbuzz-solutions/</link>
  <pubDate>Wed, 21 Nov 2012 05:43:27 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=103</guid>
