<!--
= content_for :title
	General Update - Notes to Self
-->

<h2>There were more than these 2...i just forgot what they were...
</h2>

<h3>Potential proj. -or- quick alias to write
</h3>

<pre>man pages in text format by default...(man pagename | col -b)
</pre>


<h3>Practice Multiple Document Formats
</h3>
Formats:
<ol>

<li>(n|g|tr)off
</li>

<li>latex
</li>

</ol>
eg.

<pre>
cat &lt;&lt;DOCUMENT | nroff -man
.TP 10
term
definition goes here
.TP 10
term_two
term_two&#039;s definition goes here
DOCUMENT

</pre>
<!--
-#
  <wp:post_id>188</wp:post_id>
  <wp:post_date>2013-01-26 04:38:01</wp:post_date>
  <wp:post_date_gmt>2013-01-26 04:38:01</wp:post_date_gmt>
  <wp:post_name>general-update-notes-to-self</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  Uncategorized
  </TAGS>
  <link>http://unixsuperhero.com/2013/01/26/general-update-notes-to-self/</link>
  <pubDate>Sat, 26 Jan 2013 04:38:01 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=188</guid>
-->
