<item>
  <title>Home Row Tip #2: Without Leaving the Home Row, Scroll Up/Down a Webpage</title>
  <link>http://unixsuperhero.com/2013/01/14/home-row-tip-2-without-leaving-the-home-row-scroll-updown-a-webpage/</link>
  <pubDate>Mon, 14 Jan 2013 02:37:35 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=136</guid>
  <content:encoded><![CDATA[<h3>The Home Row is Good.  Your Mouse is Evil.</h3>
<p>To scroll down:  <strong>Spacebar</strong>.</p><p>To scroll up: <strong>Shift</strong> <strong>+</strong> <strong>Spacebar</strong><strong>.</strong></p>]]></content:encoded>
  <wp:post_id>136</wp:post_id>
  <wp:post_date>2013-01-14 02:37:35</wp:post_date>
  <wp:post_date_gmt>2013-01-14 02:37:35</wp:post_date_gmt>
  <wp:post_name>home-row-tip-2-without-leaving-the-home-row-scroll-updown-a-webpage</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  home row
  homerow
  keyboard shortcuts
  no mouse
  Uncategorized
  </TAGS>
</item>
