<!--
= content_for :title
	Home Row Tip #1: Quickly Navigate Webpages
-->

<h3>The Home Row is Good.  Your Mouse is Evil.
</h3>

<pre>tl;dr

<ol>

<li>Cmd + F
</li>

<li>[find link]
</li>

<li>Press ESC
</li>

<li>Press Enter
</li>

</ol>

</pre>

If your job, or favorite hobby, involves a computer.  Your keyboard can be your greatest tool.  If you live a sad existence, (like me) it can be your best friend.  Your mouse, on the other hand, slows you down (if you type fast).  If you haven't learned that yet you will sooner or later.  You don't have to take my word for it.

The time you will save may seem small, or insignificant at first.  But, the same way nickles and dimes add up, so will your time.  Here is an example.

If you are on a webpage, and you want to click a link labeled "Tips on XX Long Live the Keyboard!", there are many ways to do it.  Using the Tab key to just from element to element on the page.  You can even use the mouse, but that's dirty.  The quickest way I have found, is using your browsers "Find" or "Search" feature.  Here are the steps:

<ol>
	
<li>Use the 
<strong>keyboard shortcut
</strong> to start the search (Ctrl+F or Cmd+F)
</li>
	
<li>Then 
<strong>search
</strong> for something unique in the link, eg. "Long Live".
</li>
	
<li>When the search has highlighted the letters in the link.  
<strong>Press ESC
</strong>.
</li>
	
<li>Your browser will then leave the link highlighted.  Now you can 
<strong>Press Enter
</strong>.
</li>
	
<li>Enjoy the next page...
</li>

</ol>
<!--
-#
  <wp:post_id>131</wp:post_id>
  <wp:post_date>2013-01-14 02:12:33</wp:post_date>
  <wp:post_date_gmt>2013-01-14 02:12:33</wp:post_date_gmt>
  <wp:post_name>home-row-1-quickly-navigate-webpages-without-a-mouse</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  home row
  homerow
  keyboard shortcuts
  no mouse
  Uncategorized
  </TAGS>
  <wp:comment>
    <wp:comment_id>29</wp:comment_id>
    <wp:comment_author><![CDATA[unixsuperhero]]></wp:comment_author>
    <wp:comment_author_email>unixsuperhero@gmail.com</wp:comment_author_email>
    <wp:comment_author_url>http://unixsuperhero.wordpress.com</wp:comment_author_url>
    <wp:comment_author_IP>75.74.29.33</wp:comment_author_IP>
    <wp:comment_date>2013-02-21 01:33:27</wp:comment_date>
    <wp:comment_date_gmt>2013-02-21 01:33:27</wp:comment_date_gmt>
    <wp:comment_content><![CDATA[I'm glad it helps.  Have you read the new Home Row tip?  http://wp.me/p2MUFm-3a  Access any Menu Item on OS X without the mouse.  No more clicking File &gt; Save, or File &gt; Open.  With only a couple keys, you can access the same menus seamlessly.]]></wp:comment_content>
    <wp:comment_approved>1</wp:comment_approved>
    <wp:comment_type></wp:comment_type>
    <wp:comment_parent>24</wp:comment_parent>
    <wp:comment_user_id>40642276</wp:comment_user_id>
  </wp:comment>
  <wp:comment>
    <wp:comment_id>24</wp:comment_id>
    <wp:comment_author><![CDATA[bb0wn]]></wp:comment_author>
    <wp:comment_author_email>bobbyrussell@gmail.com</wp:comment_author_email>
    <wp:comment_author_url>http://bb0wn.wordpress.com</wp:comment_author_url>
    <wp:comment_author_IP>76.110.114.15</wp:comment_author_IP>
    <wp:comment_date>2013-02-01 19:22:18</wp:comment_date>
    <wp:comment_date_gmt>2013-02-01 19:22:18</wp:comment_date_gmt>
    <wp:comment_content><![CDATA[I navigate the web a lot and this tip saves me TONS of time. One of the most frustrating aspects of navigating the web is that a lot of sites are built for usage with a mouse (i.e. there aren't built in hotkeys for website navigation as there are in many other applications.) Using the keyboard to navigate really speeds up movement.]]></wp:comment_content>
    <wp:comment_approved>1</wp:comment_approved>
    <wp:comment_type></wp:comment_type>
    <wp:comment_parent>0</wp:comment_parent>
    <wp:comment_user_id>17127998</wp:comment_user_id>
  </wp:comment>
  <link>http://unixsuperhero.com/2013/01/14/home-row-1-quickly-navigate-webpages-without-a-mouse/</link>
  <pubDate>Mon, 14 Jan 2013 02:12:33 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=131</guid>
-->
