<item>
  <title>Home Row Tip #3: Without Leaving the Home Row, Navigate a Textbox</title>
  <link>http://unixsuperhero.com/2013/01/14/home-row-tip-3-without-leaving-the-home-row-navigate-a-textbox/</link>
  <pubDate>Mon, 14 Jan 2013 02:45:14 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=141</guid>
  <content:encoded><![CDATA[<h3>The Home Row is Good. Your Mouse is Evil.</h3>
If you are using a Mac with OS X, then you have been blessed with what are known as Emacs [Keyboard] Shortcuts.

This means, that you can do all sorts of things from the homerow inside of a textbox.  These include, moving the cursor around without the arrow keys (quickly jump to the beginning or end of the line, move the cursor left/right/up/down, etc.), deleting characters before and after the cursor, etc.

Move the cursor Left, Right, Up, Down.
<ul>
	<li><span style="line-height:14px;">Left = Ctrl + b. (b for back)</span></li>
	<li>Right = Ctrl + f (f for forward)</li>
	<li>Up = Ctrl + p (p for previous)</li>
	<li>Down Ctrl + n (n for next)</li>
</ul>
Delete Left, Right, from the cursor to the end of the line.
<ul>
	<li><span style="line-height:14px;">Left = Ctrl + h</span></li>
	<li>Right = Ctrl + d</li>
	<li>End of the Line = Ctrl + k</li>
</ul>
Jump to the Beginning of the Line or the End of the Line.
<ul>
	<li><span style="line-height:14px;">Beginning of the Line = Ctrl + a</span></li>
	<li>End of the Line = Ctrl + e</li>
</ul>
These are just a few.  I'm sure there are many more.  It has been 5 years since I have used EMACS.  Do some research and enjoy!]]></content:encoded>
  <wp:post_id>141</wp:post_id>
  <wp:post_date>2013-01-14 02:45:14</wp:post_date>
  <wp:post_date_gmt>2013-01-14 02:45:14</wp:post_date_gmt>
  <wp:post_name>home-row-tip-3-without-leaving-the-home-row-navigate-a-textbox</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  home row
  homerow
  keyboard shortcuts
  no mouse
  Uncategorized
  </TAGS>
</item>
