<!--
= content_for :title
	Home Row Tip #4: Quickly Access Something from a Mac's Menu Bar
-->

<h3>The Home Row is Good. Your Mouse is Evil.
</h3>
We've all been told to, "Click File, then Save As, blah blah blah."

With a few simple steps, you can access a menu really quickly, and never touch your mouse.  Ready?

<ol>
	
<li>
<span style="line-height:1.714285714;font-size:1rem;">
<strong>Cmd+?
</strong> (Cmd+Shift+/) - This will bring up the Help menu.
</span>
</li>
	
<li>
<span style="line-height:1.714285714;font-size:1rem;">Start typing the Menu Item you want to "click", such as "
<strong>Sav
</strong>" for "Save as"
</span>
</li>
	
<li>
<span style="line-height:1.714285714;font-size:1rem;">Once you find it, use 
<strong>Ctrl+n
</strong> or 
<strong>Ctrl+p
</strong> to highlight it.
</span>
</li>
	
<li>
<span style="line-height:1.714285714;font-size:1rem;">Press 
<strong>Enter
</strong>.
</span>
</li>

</ol>

<span style="font-size:1rem;line-height:1.714285714;">Winning? =p
</span>
<!--
-#
  <wp:post_id>196</wp:post_id>
  <wp:post_date>2013-02-20 02:57:27</wp:post_date>
  <wp:post_date_gmt>2013-02-20 02:57:27</wp:post_date_gmt>
  <wp:post_name>home-row-tip-4-quickly-access-something-from-a-macs-menu-bar</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  help menu
  home row
  homerow
  keyboard shortcuts
  no mouse
  simple steps
  Uncategorized
  </TAGS>
  <link>http://unixsuperhero.com/2013/02/20/home-row-tip-4-quickly-access-something-from-a-macs-menu-bar/</link>
  <pubDate>Wed, 20 Feb 2013 02:57:27 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=196</guid>
-->
