= content_for :title
	Media that changed me as a developer...
<strong>tl;dr</strong>

<span style="font-size:1rem;line-height:1.714285714;">This post is about 2 things:</span>
<ol>
	<li><span style="line-height:14px;"><a href="http://vimeo.com/61044810" target="_blank">Why Python, Ruby and Javascript are Slow</a> - <strong>The title is misleading.</strong>  This talk changed the way I think about writing performance-conscious ruby.
</span></li>
	<li>The list of books that made me a better developer - I realized I hadn't shared this list yet.  It is long overdue. (C Programming Language, Refactoring, Mastering Regular Expressions)</li>
</ol>
<strong>Introduction</strong>

For many years now, I have kept a running list of books that made me a better developer.  I will list these in a second.  Recently, I have watch <strong>a lot</strong> of presentations<sup>1</sup>.  I now plan to keep a running list of talks that have had a significant enough impact on me as a developer.

<strong>Books</strong>
<ul>
	<li><span style="line-height:14px;">The C Programming Language - Changed the way I think about a few things.  Off the top of my head, curly braces.  (I'll explain in some later post)</span></li>
	<li>Mastering Regular Expressions - Everyone I know, comes to me to write their regex(s).  This book is the main reason why.</li>
	<li>Refactoring - After getting part-way thru this book.  I immediately knew it was on this list.  It is probably the book that inspired me to start keeping this list in the first place.  Much like the talk I list below.</li>
	<li>There are more, I'll find my list later...</li>
</ul>
<b>Talks/Presentations</b>
<ul>
	<li><a href="http://vimeo.com/61044810" target="_blank">Why Python, Ruby and Javascript are Slow</a> - A series of easy to understand concepts that should impact the performance of [your favorite scripting language].</li>
	<li>I'm sure I have a few more.  I'll comb thru the 30+ I've watched in the last 3wks.</li>
</ul>
<sup>1</sup> http://confreaks.com and https://vimeo.com/herokuwaza
-#
  <wp:post_id>310</wp:post_id>
  <wp:post_date>2013-04-10 00:03:55</wp:post_date>
  <wp:post_date_gmt>2013-04-10 00:03:55</wp:post_date_gmt>
  <wp:post_name>media-that-changed-me-as-a-developer</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  Uncategorized
  </TAGS>
  <link>http://unixsuperhero.com/2013/04/10/media-that-changed-me-as-a-developer/</link>
  <pubDate>Wed, 10 Apr 2013 00:03:55 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=310</guid>
