<!--
= content_for :title
	My Keyboard Setup
-->

<p>Basically, the only change I've made is:
</p>
<ul>
<li>
<span style="line-height:14px;">Set 
<strong>Caps Lock
</strong> to 
<strong>Ctrl
</strong>
</span>
</li>
</ul>
<p>If you use Vim or Emacs, this will save your left hand from a lot of pain.
</p>
<p>Another tip, if you use Vim or  Emacs:
</p>
<p>Instead of leaving the Home Row to press ESC, hold  
<strong>Ctrl
</strong> and hit 
<strong>[
</strong>.  This fires the same control code that the ESC key fires.
</p>
<p>Other Ctrl combinations that are equivalent to other keys:
</p>
<p>
<strong>Ctrl + i
</strong> = Tab
</p>
<p>
<strong>Ctrl + m 
</strong>= Enter
</p>
<!--
-#
  <wp:post_id>158</wp:post_id>
  <wp:post_date>2013-01-14 03:26:55</wp:post_date>
  <wp:post_date_gmt>2013-01-14 03:26:55</wp:post_date_gmt>
  <wp:post_name>my-keyboard-setup</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  emacs
  home row
  homerow
  keyboard shortcuts
  no mouse
  Uncategorized
  Vim
  </TAGS>
  <link>http://unixsuperhero.com/2013/01/14/my-keyboard-setup/</link>
  <pubDate>Mon, 14 Jan 2013 03:26:55 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=158</guid>
-->
