<!--
= content_for :title
	Push to github without typing username/password
-->
Change your gitconfig or repo url to ssh.

It involves setting up ssh keys if you haven't.  But it's worth it.

In your .git/config (or where ever u have the git url)

Change:


<pre>https://github.com
</pre>

To:


<pre>git@github.com:
</pre>
<!--
-#
  <wp:post_id>327</wp:post_id>
  <wp:post_date>2013-04-11 04:59:23</wp:post_date>
  <wp:post_date_gmt>2013-04-11 04:59:23</wp:post_date_gmt>
  <wp:post_name>push-to-github-without-typing-usernamepassword</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  Uncategorized
  </TAGS>
  <link>http://unixsuperhero.com/2013/04/11/push-to-github-without-typing-usernamepassword/</link>
  <pubDate>Thu, 11 Apr 2013 04:59:23 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=327</guid>
-->
