= content_for :title
	RegEx Tip: I actually learned something new about regular expressions
<h2>Intro</h2><p>I take pride in my regex writing.  Everyone I know comes to me when he/she needs to compose one.  If I haven't written a post about something I call "boundaries"...I should, soon.  I've also drafted countless regex tutorials, I think the current one is actually comprehensible and terse.</p><p>Anyway...I learned something new today:</p><h1 style="padding-left:30px;">Look[around] Operators</h1><p>These things, are awesome.  Mostly because they are atomic, but more on this later.</p><p> </p><h2>What are lookaround operators?</h2><p>They are regex snippets that say:</p><ol><li>"at this point in the regex, the following regex should appear after this point"</li><li>s/after this point/before the next character/</li><li>s/should appear/should not appear/</li></ol>
-#
  <wp:post_id>329</wp:post_id>
  <wp:post_date>2013-04-14 23:42:48</wp:post_date>
  <wp:post_date_gmt>0000-00-00 00:00:00</wp:post_date_gmt>
  <wp:post_name></wp:post_name>
  <wp:status>draft</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  Uncategorized
  </TAGS>
  <link>http://unixsuperhero.com/?p=329</link>
  <pubDate>Wed, 30 Nov -0001 00:00:00 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=329</guid>
