<item>
  <title>RegEx Quicktip #1: Using Dot (".") Properly</title>
  <link>http://unixsuperhero.com/2012/10/06/regex-quicktip-1-using-dot-properly/</link>
  <pubDate>Sat, 06 Oct 2012 08:30:28 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.wordpress.com/?p=36</guid>
  <content:encoded><![CDATA[When building a regular expression, use a dot to match special characters.  Using a dot as a placeholder is great, because it is easy to type and it can represent <strong>any key</strong>.

Examples:
<ol>
	<li>Match "as:df@jk" with the regex "as.df.jk"</li>
	<li>Match "http://google.com/search" with "http...google.com.search"</li>
	<li>Match "under_scores_suck_too" with "under.scores.suck.too"</li>
</ol>
I have yet to see someone, besides myself, use "." for something other than ".*".  That tells me that  few people understand regular expressons.  I hope we can change that.  ^_^;]]></content:encoded>
  <wp:post_id>36</wp:post_id>
  <wp:post_date>2012-10-06 08:30:28</wp:post_date>
  <wp:post_date_gmt>2012-10-06 08:30:28</wp:post_date_gmt>
  <wp:post_name>regex-quicktip-1-using-dot-properly</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  quicktip
  regex
  regular expression
  Uncategorized
  </TAGS>
  <wp:comment>
    <wp:comment_id>2</wp:comment_id>
    <wp:comment_author><![CDATA[Ruby Quicktip: % Notation for Regular Expressions | Unix Superhero]]></wp:comment_author>
    <wp:comment_author_email></wp:comment_author_email>
    <wp:comment_author_url>http://unixsuperhero.wordpress.com/2012/10/12/ruby-quicktip-notation-for-regular-expressions/</wp:comment_author_url>
    <wp:comment_author_IP>216.151.210.16</wp:comment_author_IP>
    <wp:comment_date>2012-10-12 01:37:30</wp:comment_date>
    <wp:comment_date_gmt>2012-10-12 01:37:30</wp:comment_date_gmt>
    <wp:comment_content><![CDATA[[...] Escaping the slashes just isn&#8217;t cute.  Is it?  To avoid escaping the two slashes, I used a dot, like I mentioned in a previous tip: [...]]]></wp:comment_content>
    <wp:comment_approved>1</wp:comment_approved>
    <wp:comment_type>pingback</wp:comment_type>
    <wp:comment_parent>0</wp:comment_parent>
    <wp:comment_user_id>0</wp:comment_user_id>
  </wp:comment>
  <wp:comment>
    <wp:comment_id>3</wp:comment_id>
    <wp:comment_author><![CDATA[Santosh]]></wp:comment_author>
    <wp:comment_author_email>sntshkmr60@gmail.com</wp:comment_author_email>
    <wp:comment_author_url>http://gravatar.com/sntshkmr60</wp:comment_author_url>
    <wp:comment_author_IP>106.218.191.229</wp:comment_author_IP>
    <wp:comment_date>2012-10-12 03:25:52</wp:comment_date>
    <wp:comment_date_gmt>2012-10-12 03:25:52</wp:comment_date_gmt>
    <wp:comment_content><![CDATA[I liked your idea :)]]></wp:comment_content>
    <wp:comment_approved>1</wp:comment_approved>
    <wp:comment_type></wp:comment_type>
    <wp:comment_parent>0</wp:comment_parent>
    <wp:comment_user_id>0</wp:comment_user_id>
  </wp:comment>
</item>
