<!--
= content_for :title
	Reminder: Ruby Benchmark
-->
Write benchmarks comparing the 2 following methods:


<span style="text-decoration:underline;">Idiomatic
</span>

<pre>def idiomatic
  User.joins(:membership).last(100).map(&amp;:membership).map(&amp;:tdsm_profile)
end
</pre>

<span style="text-decoration:underline;">Block
</span>

<pre>def chainless
  User.joins(:membership).last(100).map do |user|
    user.membership.tdsm_profile
  end
end
</pre>
<!--
-#
  <wp:post_id>314</wp:post_id>
  <wp:post_date>2013-04-10 01:34:47</wp:post_date>
  <wp:post_date_gmt>2013-04-10 01:34:47</wp:post_date_gmt>
  <wp:post_name>reminder-ruby-benchmark</wp:post_name>
  <wp:status>trash</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  Uncategorized
  </TAGS>
  <link>http://unixsuperhero.com/2013/04/10/reminder-ruby-benchmark/</link>
  <pubDate>Wed, 10 Apr 2013 01:34:47 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=314</guid>
-->
