= content_for :title
	Shell Essentials, Pt. 1 - apropos &amp; man
It seems that I am always teaching someone something about the command line. It also appears to be happening more and more frequently. While the advice is most commonly about using bash, most of this advice is independent of the shell used.

I believe that great systems are systems with a foundation composed of small, complimentary parts. When combined, these parts can form large, solid, dependable systems. Unix is a system like this. It even has a 3-point philosophy, <a title="The Unix Philosophy" href="http://en.wikipedia.org/wiki/Unix_philosophy" target="_blank">The Unix Philosophy</a>.

I believe that teaching you to use these 2 commands and use them together, you will have the strongest foundation possible. As well as, the ability and the confidence to use <strong>any</strong> Unix command available to you.

The 2 commands I am referring to are:
<ol>
	<li><code>apropos</code></li>
	<li><code>man</code></li>
</ol>
The first command, <code>apropos</code>, will help you determine which command to use in a given situation. For example, let's pretend you just downloaded a .zip file, but you don't know if there is a command that will uncompress it. Try the following command:
<pre style="padding-left:30px;"><code>apropos zip</code></pre>
In the output, you might see the line:
<pre style="padding-left:30px;"><code>unzip(1) - list, test and extract compressed files in a ZIP archive</code></pre>
Now that we have found <code>unzip</code>, the command that we were looking for, we can use the second command to learn how it is used.

That second command, <code>man</code>, will describe <code>unzip</code> and the different possible ways to use it.  <code>man</code> is an abbreviation for manual. These manuals are called man pages. Try the following command, it will open the <code>unzip</code> man page:
<pre><code>man unzip</code></pre>
While reading the <code>unzip</code> man page, press "h". This will show you the many keystrokes used to navigate the manual, or close it by pressing "q".

Now that you know these commands, use them shamelessly as you master the Unix command line.

Here are a few man pages to skim over. It won't hurt you to practice the commands you just learned:
<pre style="padding-left:30px;"><code>man man # that's right, the manual for man
man bash
man ls</code></pre>
-#
  <wp:post_id>4</wp:post_id>
  <wp:post_date>2012-10-04 17:47:50</wp:post_date>
  <wp:post_date_gmt>2012-10-04 17:47:50</wp:post_date_gmt>
  <wp:post_name>shell-essentials-pt-1-apropos-man</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  apropos
  Bash
  bash lesson
  bash tips
  bash tutorial
  man
  manpages
  Uncategorized
  </TAGS>
  <link>http://unixsuperhero.com/2012/10/04/shell-essentials-pt-1-apropos-man/</link>
  <pubDate>Thu, 04 Oct 2012 17:47:50 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.wordpress.com/?p=4</guid>
