<!--
= content_for :title
	So you want to be a web developer? : Fundamentals and Foundations
-->

<h2>Overview
</h2>
Like most skills and trades, those who are the most successful have a strong understanding of both the fundamentals and their tools.  Being a web developer, the ultimate fundamentals are html and css.  Regardless of which language you develop the site in, chances are: your webserver processes the instructions from that language, and returns html which is then displayed in the browser as a web page.

All the elements of the page and where to find them, are traditionally found in the html.zxjj                      huuujaaax

&nbsp;
<!--
-#
  <wp:post_id>110</wp:post_id>
  <wp:post_date>2012-12-08 04:25:24</wp:post_date>
  <wp:post_date_gmt>0000-00-00 00:00:00</wp:post_date_gmt>
  <wp:post_name></wp:post_name>
  <wp:status>draft</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  Uncategorized
  </TAGS>
  <link>http://unixsuperhero.com/?p=110</link>
  <pubDate>Wed, 30 Nov -0001 00:00:00 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=110</guid>
-->
