%header.entry-header
  %h1.entry-title
    %a{:href => "http://unixsuperhero.com/2013/03/16/the-databasedotcom-gem-combining-ruby-and-salesforce/", :rel => "bookmark"} The databasedotcom Gem: Combining Ruby and&nbsp;Salesforce
  .comments-link
    %a{:href => "http://unixsuperhero.com/2013/03/16/the-databasedotcom-gem-combining-ruby-and-salesforce/#respond", :title => "Comment on The databasedotcom Gem: Combining Ruby and&nbsp;Salesforce"}
      %span.leave-reply Leave a reply
  / .comments-link
/ .entry-header
.entry-content
  %h3 Introduction: Too big, as always…
  %p The company I work for uses Salesforce for just about everything. &nbsp;As one of the ruby devs, working on separate projects, I haven’t had to use it much. &nbsp;However, there is a new project in the works and we are trying to leverage both technologies.
  %h2
    %em Enter databasedotcom
  %p
    %a{:href => "http://github.com/heroku/databasedotcom"}> databasedotcom
    \&nbsp;is a gem maintained by Heroku, which was bought by Salesforce a few years back. &nbsp;From what I have been told, Database.com is the same database layer that Salesforce uses, except it has been exposed as its own service. &nbsp;Because accessing the data from database.com and Salesforce is the same process, no extra effort is required to access your Salesforce data. &nbsp;This gem handles it; no sweat.
  %h2 What I have learned so far
  %p This is a draft…
  %p …come back soon…
  #jp-post-flair.sharedaddy.sd-like-enabled.sd-sharing-enabled
/ .entry-content
%footer.entry-meta
  This entry was posted in
  %a{:href => "http://unixsuperhero.com/category/uncategorized/", :rel => "category tag", :title => "View all posts in Uncategorized"} Uncategorized
  and tagged
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/databasedotcom/", :rel => "tag"} databasedotcom
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/gem/", :rel => "tag"} gem
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/ruby/", :rel => "tag"} ruby
  %a{:href => "http://unixsuperhero.com/tag/salesforce/", :rel => "tag"} salesforce
  on
  %a{:href => "http://unixsuperhero.com/2013/03/16/the-databasedotcom-gem-combining-ruby-and-salesforce/", :rel => "bookmark", :title => "2:02 am"}
    %time.entry-date{:datetime => "2013-03-16T02:02:08+00:00"} March 16, 2013
  = succeed "." do
    %span.by-author
      by
      %span.author.vcard
        %a.url.fn.n{:href => "http://unixsuperhero.com/author/unixsuperhero/", :rel => "author", :title => "View all posts by unixsuperhero"} unixsuperhero
  %span.edit-link
    %a.post-edit-link{:href => "http://unixsuperhero.wordpress.com/wp-admin/post.php?post=296&amp;action=edit", :title => "Edit Post"} Edit
/ .entry-meta
