<item>
  <title>The databasedotcom Gem: Combining Ruby and Salesforce</title>
  <link>http://unixsuperhero.com/2013/03/16/the-databasedotcom-gem-combining-ruby-and-salesforce/</link>
  <pubDate>Sat, 16 Mar 2013 02:02:08 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=296</guid>
  <content:encoded><![CDATA[<h3>Introduction: Too big, as always...</h3>
The company I work for uses Salesforce for just about everything.  As one of the ruby devs, working on separate projects, I haven't had to use it much.  However, there is a new project in the works and we are trying to leverage both technologies.
<h2><em>Enter databasedotcom</em></h2>
<a href="http://github.com/heroku/databasedotcom">databasedotcom</a> is a gem maintained by Heroku, which was bought by Salesforce a few years back.  From what I have been told, Database.com is the same database layer that Salesforce uses, except it has been exposed as its own service.  Because accessing the data from database.com and Salesforce is the same process, no extra effort is required to access your Salesforce data.  This gem handles it; no sweat.
<h2>What I have learned so far</h2>
This is a draft...

...come back soon...]]></content:encoded>
  <wp:post_id>296</wp:post_id>
  <wp:post_date>2013-03-16 02:02:08</wp:post_date>
  <wp:post_date_gmt>2013-03-16 02:02:08</wp:post_date_gmt>
  <wp:post_name>the-databasedotcom-gem-combining-ruby-and-salesforce</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  databasedotcom
  gem
  ruby
  salesforce
  Uncategorized
  </TAGS>
</item>
