%header.entry-header
  %h1.entry-title
    %a{:href => "http://unixsuperhero.com/2012/12/03/so-you-want-to-be-a-web-developer-intro/", :rel => "bookmark"} Protected: So you want to be a web developer? :&nbsp;Intro
  .comments-link
    Enter your password to view comments.
  / .comments-link
/ .entry-header
.entry-content
  %form{:action => "http://unixsuperhero.com/wp-pass.php", :method => "post"}
    %p This post is password protected. To view it please enter your password below:
    %p
      %label{:for => "pwbox-107"}
        Password:
        %input#pwbox-107{:name => "post_password", :size => "20", :type => "password"}/
      %input{:name => "Submit", :type => "submit", :value => "Submit"}/
  #jp-post-flair.sharedaddy.sd-like-enabled.sd-sharing-enabled
/ .entry-content
%footer.entry-meta
  This entry was posted in
  %a{:href => "http://unixsuperhero.com/category/uncategorized/", :rel => "category tag", :title => "View all posts in Uncategorized"} Uncategorized
  on
  %a{:href => "http://unixsuperhero.com/2012/12/03/so-you-want-to-be-a-web-developer-intro/", :rel => "bookmark", :title => "3:55 am"}
    %time.entry-date{:datetime => "2012-12-03T03:55:54+00:00"} December 3, 2012
  = succeed "." do
    %span.by-author
      by
      %span.author.vcard
        %a.url.fn.n{:href => "http://unixsuperhero.com/author/unixsuperhero/", :rel => "author", :title => "View all posts by unixsuperhero"} unixsuperhero
  %span.edit-link
    %a.post-edit-link{:href => "http://unixsuperhero.wordpress.com/wp-admin/post.php?post=107&amp;action=edit", :title => "Edit Post"} Edit
/ .entry-meta
