%header.entry-header
  %h1.entry-title
    %a{:href => "http://unixsuperhero.com/2013/01/14/home-row-tip-3-without-leaving-the-home-row-navigate-a-textbox/", :rel => "bookmark"} Home Row Tip #3: Without Leaving the Home Row, Navigate a&nbsp;Textbox
  .comments-link
    %a{:href => "http://unixsuperhero.com/2013/01/14/home-row-tip-3-without-leaving-the-home-row-navigate-a-textbox/#respond", :title => "Comment on Home Row Tip #3: Without Leaving the Home Row, Navigate a&nbsp;Textbox"}
      %span.leave-reply Leave a reply
  / .comments-link
/ .entry-header
.entry-content
  %h3 The Home Row is Good. Your Mouse is Evil.
  %p If you are using a Mac with OS X, then you have been blessed with what are known as Emacs [Keyboard] Shortcuts.
  %p This means, that you can do all sorts of things from the homerow inside of a textbox. &nbsp;These include, moving the cursor around without the arrow keys (quickly jump to the beginning or end of the line, move the cursor left/right/up/down, etc.), deleting characters before and after the cursor, etc.
  %p Move the cursor Left, Right, Up, Down.
  %ul
    %li
      %span{:style => "line-height:14px;"} Left = Ctrl + b. (b for back)
    %li Right = Ctrl + f (f for forward)
    %li Up = Ctrl + p (p for previous)
    %li Down Ctrl + n (n for next)
  %p Delete Left, Right, from the cursor to the end of the line.
  %ul
    %li
      %span{:style => "line-height:14px;"} Left = Ctrl + h
    %li Right = Ctrl + d
    %li End of the Line = Ctrl + k
  %p Jump to the Beginning of the Line or the End of the Line.
  %ul
    %li
      %span{:style => "line-height:14px;"} Beginning of the Line = Ctrl + a
    %li End of the Line = Ctrl + e
  %p These are just a few. &nbsp;I’m sure there are many more. &nbsp;It has been 5 years since I have used EMACS. &nbsp;Do some research and enjoy!
  #jp-post-flair.sharedaddy.sd-like-enabled.sd-sharing-enabled
/ .entry-content
%footer.entry-meta
  This entry was posted in
  %a{:href => "http://unixsuperhero.com/category/uncategorized/", :rel => "category tag", :title => "View all posts in Uncategorized"} Uncategorized
  and tagged
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/home-row/", :rel => "tag"} home row
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/homerow/", :rel => "tag"} homerow
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/keyboard-shortcuts/", :rel => "tag"} keyboard shortcuts
  %a{:href => "http://unixsuperhero.com/tag/no-mouse/", :rel => "tag"} no mouse
  on
  %a{:href => "http://unixsuperhero.com/2013/01/14/home-row-tip-3-without-leaving-the-home-row-navigate-a-textbox/", :rel => "bookmark", :title => "2:45 am"}
    %time.entry-date{:datetime => "2013-01-14T02:45:14+00:00"} January 14, 2013
  = succeed "." do
    %span.by-author
      by
      %span.author.vcard
        %a.url.fn.n{:href => "http://unixsuperhero.com/author/unixsuperhero/", :rel => "author", :title => "View all posts by unixsuperhero"} unixsuperhero
  %span.edit-link
    %a.post-edit-link{:href => "http://unixsuperhero.wordpress.com/wp-admin/post.php?post=141&amp;action=edit", :title => "Edit Post"} Edit
/ .entry-meta
