= content_for :title
	Vim essentials: the best vim cheatsheet...is in vim
This tip is for the vim users that are past the basics.  At this point, I hope you understand:
<ul>
	<li>Moving around: hjkl</li>
	<li>Basic ex commands (:w, :q, :e, etc,)</li>
	<li>yanking/putting (copy/paste)</li>
	<li>Vim's modes:
<ul>
	<li>what they are</li>
	<li>what they are used for</li>
	<li>(normal | visual | ex) modes</li>
</ul>
</li>
</ul>
<h2>The Best Tip</h2>
<pre>
:help index

I take this back. The quickref help doc is the best one for someone looking for a great cheatsheet. It is even laid out in a way that can be read from top to bottom, or simply as a reference that is searched whenever needed.

I don't think the list of shortcuts is as complete as index. But it's a great starting point.
</pre>
<h2>Wait! I'm not being a smartass, please read why.</h2>
The index help file is <strong>nothing</strong> like the average help file. It is basically a vim <strong>cheatsheet</strong> for <strong>every default keyboard shortcut</strong>!  It is also 1 of the 3 best resources for learning about vim, and my personal favorite.  The best part is, it comes with vim. There is no searching, downloading, opening other programs.  It's a few keystrokes away.

People are always writing vim tutorials and teaching people a handful of shortcuts. Why give someone a couple shortcuts, when you can hand them a complete list of the quickest ways to do everything vim was made to do.

When I first found this document, I had it open every day for 2 months. People see me use vim and ask how I know all the things I know. Here is their answer.

<h2>I mentioned that there are 3 great resources, here is another.</h2>
This one is actually 2 different lists of the same info.
<pre>
:help option-summary        " detailed explanation of every vim option

:help option-list                  " a shorter explanation of every vim option
</pre>
<h3>The last one...</h3>
That previous command:<u>:help option-list</u> is only a small part of a bigger document: <pre>:help quickref</pre>. Quickref is what the title suggests. It acts as a super cheatsheet for vim.  More than just keymappings.


<h1>Now go read, and practice what you read, to then learn it!</h1>
<h1>Summary</h1>
<pre>
:h quickref
:h option-list
:h option-summary
:h index
</pre>
-#
  <wp:post_id>121</wp:post_id>
  <wp:post_date>2012-12-15 04:08:36</wp:post_date>
  <wp:post_date_gmt>2012-12-15 04:08:36</wp:post_date_gmt>
  <wp:post_name>vim-essentials-the-best-vim-cheatsheet-is-in-vim</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  keyboard shortcuts
  shell
  tips
  tricks
  Uncategorized
  unix
  Vim
  vim cheatsheet
  vim keyboard shortcuts
  vim mappings
  vim shortcuts
  </TAGS>
  <link>http://unixsuperhero.com/2012/12/15/vim-essentials-the-best-vim-cheatsheet-is-in-vim/</link>
  <pubDate>Sat, 15 Dec 2012 04:08:36 +0000</pubDate>
  <guid isPermaLink="false">https://unixsuperhero.wordpress.com/?p=121</guid>
