<!--
= content_for :title
	Vim Quick Tip: Easily open all buffers in (vertical) splits
-->

<p>I just started vim and I passed in 3 filenames.  I do this often.  Not only was I trying to open 3 files, I was trying to have them all displayed next to each other in vertical splits.  To do this, the options passed to vim are different: vim -O file1 file2 file3;
</p>
<p>Anyway, it's simple to do this once vim has finished loading.
</p>
<pre>:bufdo vs
</pre>
<p>The only issue is the last buffer, #3 in our case, is open twice.  Execute :q and you are done.
</p>
<!--
-#
  <wp:post_id>259</wp:post_id>
  <wp:post_date>2013-02-22 11:04:35</wp:post_date>
  <wp:post_date_gmt>2013-02-22 11:04:35</wp:post_date_gmt>
  <wp:post_name>vim-quick-tip-easily-open-all-buffers-in-vertical-splits</wp:post_name>
  <wp:status>publish</wp:status>
  <wp:post_type>post</wp:post_type>
  <wp:post_password></wp:post_password>
  <TAGS>
  bufdof
  quicktip
  Uncategorized
  Vim
  vim command
  vim shortcuts
  </TAGS>
  <link>http://unixsuperhero.com/2013/02/22/vim-quick-tip-easily-open-all-buffers-in-vertical-splits/</link>
  <pubDate>Fri, 22 Feb 2013 11:04:35 +0000</pubDate>
  <guid isPermaLink="false">http://unixsuperhero.com/?p=259</guid>
-->
