- klass.get_steps.each do |step|
  %h1= step[:name]
  %p= step[:description]
  .inline
    %b Before
    %pre= raw IO.read(step[:filenames].first)
  .inline
    %b After
    %pre= raw IO.read(step[:filenames].last)
  %hr
