
.alert.alert-info
  You should not be able to see this page
  %strong unless
  you have filled out a basic_auth user/pass.

%h1 Experiment: Basic Auth (Rails 3.x)
%hr

%h3 Private Page
%p You entered in the correct username and password.

