- contents_of :preview do
  :markdown
    This series came highly recommended. I had my doubts, mostly because it's a
    mecha. Someone asked me which mecha left a bad taste in my mouth, I think I
    finally figured it out: Power Rangers. Something about the transformation
    sequences and fighting in a humongous humanoid robot being thrown around
    without even a scratch...seems unlikely to me. With Tengen Toppa, I
    swallowed my prejudice and started watching anyway.

- contents_of :body do
  :markdown
    This series came highly recommended. I had my doubts, mostly because it's a
    mecha. Someone asked me which mecha left a bad taste in my mouth, I think I
    finally figured it out: Power Rangers. Something about the transformation
    sequences and fighting in a humongous humanoid robot being thrown around
    without even a scratch...seems unlikely to me. With Tengen Toppa, I
    swallowed my prejudice and started watching anyway.

    So, I watched the series in 3 sittings. Episodes 1-4, 5-16, and 17-27.

    At first the series was pretty useless, but overall enjoyable to watch.
    Kamina was unwaveringly manly to the point of being annoying, and Simon was
    completely useless. Yes, another Shinji (NGE). Yet, something about their
    relationship is charming. Before I knew it, the way Simon calls Kamina
    "aniki" (older brother) was endearing. Overall, I didn't take it seriously,
    because it wasn't a serious anime..._at first_. More on that later. Yoko.
    Yoko Yoko Yoko. She is nice to look at, but that's not her only redeeming
    quality. She's one of my favorites in the series. Although at first she
    seemed kind of flakey showing interest in both Simon and Kamina. Maybe the
    interest in Simon was just my imagination. Then there's Boota. While we're
    comparing every other anime to NGE...what is a good NGE-clone without a
    Penpen character. This little pig-mole makes cute sounds and loves
    snuggling in Yoko's cleavage. Someone should make a slow-motion love
    sequence for Boota and Yoko's breasts.

    #### SPOILERS AHEAD

    ---
    Like I mentioned before, in the beginning it was all function and games. The series did ridiculous stuff like smash one mecha on top of another to "combine" and it actually worked.

    On one side of things, the plot progressed the way you would expect. The fighting went from underground, to the surface, to some trippy fabricated version of a outer space. On the other side, I never expected any of the story progressions. Even after Kamina was stabbed, I still didn't believe that he was dead. But, it marked the beginning of the not-to-be-taken-lightly arc of the series.

    Naturally, Simon got horribly depressed and started fighting with a death wish. In comes Nia, the former princess. She quickly became my favorite character. Mostly because of the kawaii factor. The way she is drawn is awesome. The color of her hair looks like candy, her eyes have a cute pink cross in them. Her pure innocence helps drag Simon from his personal hell.

    Eventually, Simon defeats the Spiral King and the serious part of the story comes next. Seven years later and Yoko ran off to be a teacher. Simon is supreme commander of Earth and Rossiu, his last co-pilot, is his seemingly corrupt advisor. This whole plot line is too serious. Friends and family are turning on one another, it's a time of war. Just watching it all happen was annoying. But, it's different from the first arc of the series. This time, it's not from the angle of a righteous rebellion uprising. It is from the side of a gov't whose people are rising against it. They need someone to blame, Simon.

    From here on out, a lot happens. The way it ends is the worst. They defeat the new enemy, Anti-Spirals, and Nia turns bad. Simon saves her, gets married, but during the kiss...she fades away. Nia dies. WHAT THE #%$&~!! Simon is alone, again.

    It was sad in a lot of places. Especially when they were all locked in some dream thing and Kamina is the one who breaks them out. It had crazy plot twists: Kamina dies, Rossiu being a prick then not being the prick you think he is, and Nia turning on Humans. Maybe that's half the reason it was so good, when you have the energy to hate the creators and still watch.

    Tuturu~
