%h1 Subsection Possibilities
%hr

%h3 Summary
%p
  basically, right now i have
  %em lib/section.rb

%p
  If i inherit it into a subclass.  i can overload things like the
  %em glob_file
  method.

%p
  This will let me create special sections for things like my blog.
%p
  Since I want to name the view files something slightly different.
