%h1 Cleanup Shell Startup Scripts
%hr

%h3 Make Control Flow Chart
%p It should contain the order and origin for each .bashrc and .zshrc file.
%ul
  %li
    \~/.zshrc
    %ul
      %li
        \~/.bashrc.local
        %ul
          %li ~/.osxrc
          %li ~/.bashrc.git
          %li ~/.bashrc.vim
          %li ~/.bashrc.function
          %li ~/.bashrc.alias
          %li ~/.bashrc.battery
          %li ~/.bashrc.export
          %li ~/.bashrc.ps1
          %li ~/.bashrc.saveology
          %li ~/.bashrc.heroku
          %li ~/.bashrc.autocomplete.git
      %li ~/.oh-my-zsh/oh-my-zsh.sh
  %li etc...
