%h1 Refactor / Redesign TDSM
%hr

Files
%ul
  %li app/jobs/application_event_queue.rb
  %li app/jobs/yes_mail_email_queue.rb
  %li app/views/yes_mail/envelope.xml.builder
  %li app/models/yes_mail_email.rb
  %li app/models/yes_mail_email_event.rb
  %li app/models/yes_mail_status.rb
