
%h1 Tests and Experiments
%hr

%h6 Database-Free Site Layouts and Navigation
%ul
  %li
    Refactoring Pattern Navigation
    %ul
      %li= link_to 'Structure 1: Model Driven', '/tests/layouts_1_model_driven'
      %li= link_to  'Structure 2: View and Dynamic Route Driven, ''
