!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    - if content_for?(:title)
      %title= yield(:title)
    - else
      %title Default Title

    = csrf_meta_tags

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.png"
%body
  .row-fluid
    .span10.header
      .pre
        %h1 Unix Superhero
        %p Blog, code experiments, notes, etc.
    .span2.header
      .pre
        %h2 Site Code
        %p= link_to 'github:rails-experiments', 'http://github.com/unixsuperhero/rails-experiments', target: '_blank'
  .row-fluid
    .span2.navigation
      .pre
        .h1 Navigation
        %hr.separate
        = link_to 'Home', '/'
        = link_to 'Todo', '/todo'
        %hr.separate
        .h2 Experiments
        %hr
        = link_to 'Basic Auth (Rails 3.x)', basic_auth_path
        = link_to '.NET Enum in Ruby?', pseudo_enumerable_test_path
        = link_to 'Route Tests', route_exp_path
        = link_to 'Nested Controller Routes', '/a/b/c'
        = link_to 'Nested Controller Routes 2', '/a/b/c/act'
        %hr.separate
        .h2 Refactoring Patterns
        %hr
        - refactoring_patterns.each do |pattern|
          = link_to pattern.titleize, show_refactor_path(pattern)
    .span10.page
      .clearfix
      - flash.each do |k,v|
        %p(class=k)= v
      = yield

